<% content_for :name do %>
	<%= @person.Name + " " + @person.Surname %>
<% end %>

<% content_for :short_bio do %>
    <!-- Add with test data from database -->
    <!-- Description -->
    <% unless @person.Description.empty? %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle " data-panel="0" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                        Short bio
                    </a>
                </h4>
            </div>
            <div id="collapse1One" class="accordion-body collapse in">
                <div class="panel-body">
                    <%= @person.Description %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>

<% content_for :related_people do %>    
    <table class="table table-striped">
        <tbody>
            <% @related_people.each do |related_person| %>
                <tr>
                    <td width="90%">
                        <div class="contactname">
                            <!-- <a href="person.html"><%= related_person.Name %></a> -->
                            <%= link_to related_person.get_full_name , '/people/' + related_person.id.to_s %>
                        </div>
                        <div class="contactdesc"><%= related_person.Description %></div>
                    </td>
                    <td>
                        <div class="hidden-xs">
                            <a href="person.html">
                                <!-- <img src="img/person.jpg" width="100%"> -->
                                <%= image_tag('person.jpg') %>
                            </a>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<%= content_for :documents do %>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td width="90%">
                    <div class="doctitle">
                        <a href="nomedocumento.pdf" target="_blank">Titolo del documento</a>
                    </div>
                    <div class="docdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</div>
                </td>
                <td>
                    <a href="nomedocumento.pdf" target="_blank">
                        <%= image_tag('pdf_doc.png', class: 'doc-img') %>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="90%">
                    <div class="doctitle">
                        <a href="nomedocumento.pdf" target="_blank">Titolo del documento</a>
                    </div>
                    <div class="docdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</div>
                </td>
                <td>
                    <a href="nomedocumento.pdf" target="_blank">
                        <!-- <img src="img/xls_doc.png" width="100%"> -->
                        <%= image_tag('xls_doc.png', class: 'doc-img')%>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="90%">
                    <div class="doctitle">
                        <a href="nomedocumento.pdf" target="_blank">Titolo del documento</a>
                    </div>
                    <div class="docdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</div>
                </td>
                <td>
                    <a href="nomedocumento.pdf" target="_blank">
                        <!-- <img src="img/doc_doc.png" width="100%"> -->
                        <%= image_tag('doc_doc.png', class: 'doc-img') %>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="90%">
                    <div class="doctitle">
                        <a href="nomedocumento.pdf" target="_blank">Titolo del documento</a>
                    </div>
                    <div class="docdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</div>
                </td>
                <td>
                    <a href="nomedocumento.pdf" target="_blank">
                        <%= image_tag('pdf_doc.png', class: 'doc-img') %>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="90%">
                    <div class="doctitle">
                        <a href="nomedocumento.pdf" target="_blank">Titolo del documento</a>
                    </div>
                    <div class="docdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</div>
                </td>
                <td>
                    <a href="nomedocumento.pdf" target="_blank">
                        <!-- <img src="img/zip_doc.png" width="100%"> -->
                        <%= image_tag('zip_doc.png', class: 'doc-img') %>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="90%">
                    <div class="doctitle">
                        <a href="nomedocumento.pdf" target="_blank">Titolo del documento</a>
                    </div>
                    <div class="docdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</div>
                </td>
                <td>
                    <a href="nomedocumento.pdf" target="_blank">
                        <!-- <img src="img/doc_doc.png" width="100%"> -->
                        <%= image_tag('doc_doc.png', class: 'doc-img') %>
                    </a>
                </td>
            </tr>
            <tr>
                <td width="90%">
                    <div class="doctitle">
                        <a href="nomedocumento.pdf" target="_blank">Titolo del documento</a>
                    </div>
                    <div class="docdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam.</div>
                </td>
                <td>
                    <a href="nomedocumento.pdf" target="_blank">
                        <!-- <img src="img/ppt_doc.png" width="100%"> -->
                        <%= image_tag('ppt_doc.png', class: 'doc-img') %>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
<% end %>

<% content_for :content do  %>

<% end %>