<% content_for :content do %>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row rowmega">
                    <div class="titolomega col-md-8 hidden-xs hidden-sm">&nbsp;</div>
                    <div class="titolomega2 hidden-xs col-md-4 hidden-sm">Elite groups</div>
                </div>
                <div class="hidden-xs">
                    <% @elites.each do |elite| %>
                        <%= link_to country_elite_path(:country_id => @country.id, :id => elite.id) do %>
                            <div class="group">
                                <table width="100%">
                                    <tr>
                                        <td width="200">
                                            <%= image_tag('groupimg.jpg', width: "200")%>
                                        </td>
                                        <td class="cella">
                                            <div class="titologroup"><%= elite.Name %></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <!-- 766px or smaller width -->
            <div class="row hidden-lg hidden-sm hidden-md">
                <div style="col-md-12">
                    <% @elites.each do |elite| %>
                        <%= link_to country_elite_path(:country_id => @country.id, :id => elite.id) do %>
                            <span class="thumb-info">
                                <span class="thumb-info-wrapper">
                                    <%= image_tag("groupimg.jpg", class: "img-responsive", alt: "") %>
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner"> <%= elite.Name %></span>
                                    </span>
                                </span>
                            </span>
                        <% end %>
                    <% end %>
                </div>
            </div>          
        </div>
        <div style="padding-top:50px;"></div>
    </div>
<% end %>