<% content_for :title do %>
    <%= @elite.Name %>
<% end %>

<% content_for :content do %>
    <div class="row rowmega" id="overview">
        <div class="titolomega col-md-8 col-sd-8 hidden-sm hidden-xs">&nbsp;</div>
        <div class="titolomega2 hidden-xs hidden-sm col-md-4 col-sd-4"><%= @elite.Name %></div>
    </div>
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            <!-- Intro panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle " data-panel="0" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                            Intro
                        </a>
                    </h4>
                </div>
                <div id="collapse1One" class="accordion-body collapse in" role="group">
                    <div class="panel-body">
                        <p><%= @elite.Description %></p>
                    </div>
                </div>
            </div>
            <!-- Documents -->
            <div id="accordion0" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-panel="1" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                            Documents
                        </a>
                    </h4>
                </div>
                <div id="collapse1Two" class="accordion-body collapse" role="group">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                                <% @elite.files.each do |file| %>
                                    <tr>
                                        <td width="90%">
                                            <div class="doctitle">
                                                <%= link_to file.Name, "/files/#{file.FileName}" %>
                                            </div>
                                            <div class="docdesc"><%= truncate(@elite.Description, :length => 200) %></div>
                                        </td>
                                        <td>
                                            <%= link_to do %>
                                                <%= image_tag("pdf_doc.png") %>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- People -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-panel="2" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                            People
                        </a>
                    </h4>
                </div>
                <div id="collapse1Three" class="accordion-body collapse in" role="group">
                    <div class="panel-body">
                        <div class="owl-carousel owl-theme stage-margin" style="overflow: hidden;" data-plugin-options='{"items": 4, "margin": 30, "loop": false, "nav": true, "dots": false, "stagePadding": 40}'>
                            <!-- Array HTML -->
                            <% @elite.people_elites.each do |elite_person| %>
                                <% person = Person.find(elite_person.PersonId) %>
                                <!-- Ouput person link -->
                                <div>
                                    <%= image_tag("person.jpg", class: "img-responsive", alt: person.get_full_name) %>
                                    <div class="personcarousel">
                                        <%= link_to( person.get_full_name, person_path(:id => elite_person.PersonId) ) %>
                                    </div>
                                </div>
                            <% end %>
                            <!-- To Remove -->
                            <!-- Test -->
                            <div>
                                <%= image_tag("person.jpg", class: "img-responsive", alt: Person.first.get_full_name) %>
                                <div class="personcarousel">
                                    <%= link_to( "1", person_path(:id => Elite.first.people_elites.first.PersonId) ) %>
                                </div>
                            </div>
                            <!-- Test -->
                            <div>
                                <%= image_tag("person.jpg", class: "img-responsive", alt: Person.first.get_full_name) %>
                                <div class="personcarousel">
                                    <%= link_to( "2", person_path(:id => Elite.first.people_elites.first.PersonId) ) %>
                                </div>
                            </div>
                            <!-- Test -->
                            <div>
                                <%= image_tag("person.jpg", class: "img-responsive", alt: Person.first.get_full_name) %>
                                <div class="personcarousel">
                                    <%= link_to( "3", person_path(:id => Elite.first.people_elites.first.PersonId) ) %>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>