<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Link stylesheets here -->
    <%= stylesheet_link_tag('theme') %>
    <%= stylesheet_link_tag('theme-elements') %>
    <%= stylesheet_link_tag('theme-animate') %>
    <script>
		document.addEventListener("touchstart", function () {}, true);
	</script>
    
</head>

<body>
    <div class="body">
        <%= render "layouts/shared/info_header" %>
        <!-- Top navigation bar -->
        <!-- Responsive. Displays only narrow screen width only -->
        <%= render "layouts/shared/xs_sm_country_nav" %>

        <!-- Bottom navigation bar -->
        <%= render "layouts/shared/bottom_nav" %>

        <!-- FINE NAVIGAZIONE FISSA FOOTER (RESPONSIVE) -->
        <!-- Start of yield -->
        <div class="container">

            <div class="row">
                <div class="col-md-9">
                    <%= yield :content %>
                </div>
                <div class="col-md-3 hidden-xs hidden-sm">
                    <%= render "layouts/shared/country_nav" %>
                </div>
                <div style="padding-top:50px;"></div>
            </div>
        </div>
        <%= render "layouts/shared/footer" %>
    </div>
</body>

</html>