<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Country: <%= yield :name %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Link stylesheets here -->
    <%= stylesheet_link_tag('theme') %>
    <%= stylesheet_link_tag('theme-elements') %>
    <%= stylesheet_link_tag('theme-animate') %>
</head>

<body>
    <div class="body">
        <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>

        </header>
        <section class="page-header">
        <div role="main" class="main">

            
                <div class="hidden-xs hidden-sm container">
                    <div class="row">
                        <div class="col-md-6">
                            <%= image_tag('dep.svg', class: 'dep-image', align: 'left') %>
                            <!-- >
                            <img src="img/dep.svg" align="left" height="70px">
                            --><!-- >
                            <img src="img/dep.svg" align="left" height="70px">
                            -->
                        </div>
                        <div class="col-md-6" align="right" style="font-size:10px; line-height:14px; vertical-align:middle;">
                            <%= image_tag('erc.svg', class: 'erc-image', align: 'right') %>
                                <!-- <img src="img/erc.svg" align="right" style="margin-left:10px;" height="70px"> -->
                                This project has received funding from the European Research Council under the European Union’s Horizon 2020 research and
                                innovation programme
                                <br/> (Grant Agreement n. 669194)
                                <!-- Large button group -->
                        </div>
                    </div>
                </div>

        </div>
        </section>

        <!-- Top navigation bar -->
        <!-- Responsive. Displays only narrow screen width only -->
        <%= render "layouts/shared/xs_sm_country_nav"%>

        <%= render "layouts/shared/bottom_nav" %>

        <!-- FINE NAVIGAZIONE FISSA FOOTER (RESPONSIVE) -->
        <!-- Start of yield -->
        <div class="container">

            <div class="row">
                <div class="col-md-9">
                    <%= yield :content %>
                </div>
                <div class="col-md-3 hidden-xs hidden-sm">
                    <%= render "layouts/shared/country_nav" %>
                </div>
                <div style="padding-top:50px;"></div>
            </div>
        </div>
        <%= render "layouts/shared/footer" %>
    </div>
</body>

</html>