<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Map View</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="keywords" content="" />
		<meta name="description" content="">
		<meta name="author" content="">

		
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    
    <!-- Link stylesheets here -->
    <%= stylesheet_link_tag('theme') %>
    <%= stylesheet_link_tag('theme-elements') %>
    <%= stylesheet_link_tag('theme-animate') %>
  </head>

  <body>
    <!-- NAVIGAZIONE FISSA FOOTER (RESPONSIVE) -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom navbar-right  botmenutrasparente">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="botmenu">
                        <a href="about.html">ABOUT THIS MAP</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="botmenu">
                        <!-- <a href="index.html">Main map</a> -->
                        <%= link_to('Main Map', {action: 'map'})%>
                    </li>
                    <li class="dropdown botmenu">
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="#">Countries
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <% Country.all.order(:Name).each do |country| %>
                                <li class="botsubmenu">
                                    <%= link_to country.Name, country  %>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                    <li class="botmenu">
                        <a href="comecon.html">Comecon</a>
                    </li>
                    <li class="botmenu">
                        <%= link_to('PanEur1970s website', 'https://paneur1970s.eui.eu/')%>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <!-- FINE NAVIGAZIONE FISSA FOOTER (RESPONSIVE) -->
    <!-- Start of yield -->
    <%= yield %>
    <!-- End of yield -->
  </body>
</html>